# 2. 主要学习Series和DataFrame对象的查改删增
Created on 2018/7/9

In [1]:
import pandas as pd
import numpy as np

## 1.Series

## 1.1 查

In [2]:
data = [1,2,3]
index = ['a','b','c']
s = pd.Series(data = data, index= index)
s

a    1
b    2
c    3
dtype: int64

### 1.1.1 快捷查看, []

In [3]:
s[1]

2

In [4]:
s[0:2] # 范围，左闭右开，返回Series切片

a    1
b    2
dtype: int64

In [5]:
s[[0,2]] #列表，返回Series切片

a    1
c    3
dtype: int64

In [6]:
s[[1,2]]

b    2
c    3
dtype: int64

In [7]:
mask = [True, False, False] # 长度必须和Series相同，返回Series切片, 和列表类似
s[mask]

a    1
dtype: int64

### 1.1.2 基于索引，.loc[]
 .loc[] 查询方式和 []完全一样。

In [10]:
s.loc['a'] # 单索引，返回一个值

1

In [11]:
s.loc['a':'c'] # 范围，返回切片

a    1
b    2
c    3
dtype: int64

In [12]:
s.loc[['a','c']] # 列表，返回切片

a    1
c    3
dtype: int64

In [14]:
mask=[True,True,False]
s.loc[mask]

a    1
b    2
dtype: int64

### 1.1.3 基于位置,  .iloc[]
无视缩影，只按着位置定位

In [15]:
s.iloc[1]

2

In [17]:
s.iloc[1:3] # 左开右闭

b    2
c    3
dtype: int64

In [18]:
s.iloc[[0,2]] # 列表

a    1
c    3
dtype: int64

In [19]:
mask = [True,False,True]
s.iloc[mask]

a    1
c    3
dtype: int64



## 1.2 改

### 1.2.1 改值

In [31]:

s1 = s.copy() # 深拷贝，拷贝数据结构包含的所有信息
s1['a'] = 5
s1

a    5
b    2
c    3
dtype: int64

In [22]:
s

a    1
b    2
c    3
dtype: int64

#### `函数修改：Series.replace(to_replace= None,value = None, inplace = False)`
- to_replace：要修改的值，可以为列表
- value：改为的值，可以为列表，与to_repalce要匹配；
- inplace：是否在原地修改

In [37]:
s1.replace(to_replace = 5,value = 2,inplace = True)

In [38]:
s1

a     2
b     2
c    24
dtype: int64

In [39]:
s1.replace(to_replace = 24,value =3,inplace = False)
s1

a     2
b     2
c    24
dtype: int64

In [41]:
s1.replace(to_replace =[3,3],value =[23,24],inplace = True)
s1

a     2
b     2
c    24
dtype: int64

In [43]:
s1.replace(to_replace =2, value =23 ,inplace = True)
s1

a    23
b    23
c    24
dtype: int64

### 1.2.2 改索引

直接在index上改，index类似于tuple，只能引用到别处，不能切片修改

In [44]:
s1 = s.copy()
s1.index = ['d','e','f']
s1

d    1
e    2
f    3
dtype: int64

In [45]:
s

a    1
b    2
c    3
dtype: int64

 ####  `函数修改：Series.rename(index = None,level = None,implace = False)`
    - index: hashable sequence 或者 dict, dict可以是部分
    - level： 多重索引可以指定修改哪一重
    - inplace： 是否原地修改

In [47]:
s2=s1.rename( index = {'e':'g'}, inplace = False)
s2

d    1
g    2
f    3
dtype: int64

In [48]:
s1

d    1
e    2
f    3
dtype: int64

## 1.3 增

### 1.3.1 直接增加一行

In [49]:
s1 = s.copy()
s1['d'] = 6
s1

a    1
b    2
c    3
d    6
dtype: int64

### 1.3.2 函数增加多行
#### `Series.append(to_append, ignore_index = False,verify_integrity = False)`
- to_append:另一个Series或多个series构成的列表
- ignore_index: False:保留原索引，True：清除所有索引，生成默认的数值索引
- verify_integrity: True,如果to_append索引与当前索引有重复，则报错

In [52]:
s2=s1[0:3]
s2

a    1
b    2
c    3
dtype: int64

In [53]:
s1

a    1
b    2
c    3
d    6
dtype: int64

In [58]:
s2.rename(index = lambda x: x.upper(), inplace = True)
s2

A    1
B    2
C    3
dtype: int64

In [59]:
s1.append(s2)

a    1
b    2
c    3
d    6
A    1
B    2
C    3
dtype: int64

## 1.4 删

### 1.4.1 直接删除一行

In [61]:
s1 = s.copy()
s1

a    1
b    2
c    3
dtype: int64

In [62]:
del s1['a']

In [63]:
s1

b    2
c    3
dtype: int64

### 1.4.2 函数删除多行
#### `Series.drop(labels, level= None, implace = False)`
- labels：索引，单索引或者索引的列表

In [65]:
s1 = s.copy()
s1.drop(['a','b'])
# s1

c    3
dtype: int64

# ----------------------------------------------------------------------------------
# 2.DataFrame

In [67]:
data = [
    [1,2,3],
    [4,5,6]
]
index=['a','b']
columns = ['A','B','C']
df = pd.DataFrame(data= data, index = index, columns =columns)
df

   A  B  C
a  1  2  3
b  4  5  6

## 2.1 查
### 2.1.1 直接查看， []

In [70]:
df['A'] # 列操作，单列索引，返回Series

a    1
b    4
Name: A, dtype: int64

In [71]:
df[['A','C']] # 列操作，列表 列索引，返回DataFrame

   A  C
a  1  3
b  4  6

In [72]:
df[1:2] # 行操作，位置范围，返回 DataFrame

   A  B  C
b  4  5  6

In [73]:
mask = [False,True] 
df[mask] # 行操作，mask，必须和行长度一致，返回DataFrame

   A  B  C
b  4  5  6

In [ ]:
# 注意：没有 df[0],或者df[[1,2]]

### 2.1.2  基于索引，.loc[]
- DataFrame有2维，每一维都和 Series 中的  `.loc[]`  用法一样

In [75]:
df

   A  B  C
a  1  2  3
b  4  5  6

In [76]:
df.loc['a','A'] # 返回单一值，两维都为单索引

1

In [78]:
df.loc['a':'b','B'] # 返回Series，只有一维为单索引

a    2
b    5
Name: B, dtype: int64

In [79]:
df.loc['b','A':]

A    4
B    5
C    6
Name: b, dtype: int64

In [81]:
df.loc[['b','a'],'C']

b    6
a    3
Name: C, dtype: int64

In [82]:
df.loc[[False,True],'A']

b    4
Name: A, dtype: int64

In [83]:
df.loc[:,:]

   A  B  C
a  1  2  3
b  4  5  6

### 2.1.3 基于位置，.iloc[]
与索引没有关系，只按着位置
- DataFrame 有 2维，每一维度和Series的 .iloc[]用法相同

In [84]:
df

   A  B  C
a  1  2  3
b  4  5  6

In [85]:
df.iloc[1,1]

5

In [86]:
df.iloc[0:2,0] # 返回 series

a    1
b    4
Name: A, dtype: int64

In [87]:
df.iloc[0:2,0:2]

   A  B
a  1  2
b  4  5

In [88]:
df.iloc[[0,1],[0,1]]

   A  B
a  1  2
b  4  5

In [89]:
mask1 = [False, True]  # 返回DataFrame
mask2 =[True,False]
df.iloc[mask1,mask2]

   A
b  4

## 2.2 改
### 2.2.1 改值
直接在查得的基础上进行修改，.loc[]确保原地修改

In [90]:
df1 = df.copy()
df1.loc['a','A'] = 20
df1

    A  B  C
a  20  2  3
b   4  5  6

#### `函数批量修改 DataFrame.replace(to_replace = None, value = None, inplace= False)`
- 和series.replace函数基本一致

In [91]:
df1

    A  B  C
a  20  2  3
b   4  5  6

In [92]:
df1.replace(20, 50)

    A  B  C
a  50  2  3
b   4  5  6

In [93]:
df1

    A  B  C
a  20  2  3
b   4  5  6

In [94]:
df1.replace([2,3], [3,4],True)

In [95]:
df1

    A  B  C
a  20  3  4
b   4  5  6

In [98]:

df

   A  B  C
a  1  2  3
b  4  5  6

In [99]:
df1[['A','C']] = df[['C','A']] # 交换2列

In [100]:
df1

   A  B  C
a  3  3  1
b  6  5  4

### 2.2.2 改索引
 直接在索引上改。必须全改，不能切片

In [101]:
df

   A  B  C
a  1  2  3
b  4  5  6

In [102]:
df1 = df.copy()
df1.index = ['c','d']
df1

   A  B  C
c  1  2  3
d  4  5  6

In [103]:
df1.columns=['A1','B1','C1']
df1

   A1  B1  C1
c   1   2   3
d   4   5   6

#### `函数修改 DataFrame.rename(index, colums, level, inplace = False)`
-

In [104]:
df1.rename(index={'c':'c1'},columns={'A1':'A2','C1':'C2'})

    A2  B1  C2
c1   1   2   3
d    4   5   6

In [105]:
df1

   A1  B1  C1
c   1   2   3
d   4   5   6

### 2.3 增
增 可以增加 行和（或）列

### 2.3.1 直接增加一行

In [107]:
df1 = df.copy()
df1

   A  B  C
a  1  2  3
b  4  5  6

In [108]:
df1.loc['c']=['7','8','9']
df1

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

### 2.3.2 函数增加多行
#### `pd.concat(objs, axis = 0)`
- objs: list of DataFrame
- axis = 0 行增加操作

In [111]:
df2 = pd.DataFrame([[10,11,12],[13,14,15]],index= ['d','e'],columns=['A','B','C'])
df2

    A   B   C
d  10  11  12
e  13  14  15

In [112]:
pd.concat([df1,df2],axis = 0)

    A   B   C
a   1   2   3
b   4   5   6
c   7   8   9
d  10  11  12
e  13  14  15

### 2.3.3 直接增加一列

In [113]:
df1 = df.copy()
df1

   A  B  C
a  1  2  3
b  4  5  6

In [114]:
df1['D'] = [1,2]
df1

   A  B  C  D
a  1  2  3  1
b  4  5  6  2

### 2.3.4 函数增加多列
#### `pd.concat(objs,axis = 1)`
- objs: list of DataFrame
- axis = 1 列操作

In [115]:
df3 =pd.DataFrame([[33,44],[55,66]],index = ['a','b'],columns=['E','F'])
df3

    E   F
a  33  44
b  55  66

In [116]:
pd.concat([df1,df3],axis =1)

   A  B  C  D   E   F
a  1  2  3  1  33  44
b  4  5  6  2  55  66

In [117]:
pd.concat([df3,df1],axis= 1)

    E   F  A  B  C  D
a  33  44  1  2  3  1
b  55  66  4  5  6  2

 ## 2.4 删
 ###

In [121]:
df

   A  B  C
a  1  2  3
b  4  5  6

#### 2.4.1 函数删除多行
#### `函数删除多行 DataFrame.drop(labels, axis= 0, level = None, inplace = False)`
- labels: 索引，单索引或 列表
- axis：0，删除行操作
- inplace：是否原地操作

In [123]:
df1 = df.copy()
df1.drop(['b'],axis=0)

   A  B  C
a  1  2  3

In [126]:
df1

   A  B  C
a  1  2  3
b  4  5  6

### 2.4.2 直接删一列
#### `注意：没有直接删一行`

In [127]:
df1= df.copy()
del df1['C']
df1

   A  B
a  1  2
b  4  5

### 2.4.3 函数删多列
#### `DataFrame.drop(labels, axis= 1,level,inplace)`
- axis: 1,删除列操作

In [129]:
df1 = df.copy()
df1.drop(['A','B'],axis= 1)

   C
a  3
b  6