# merge函数

In [2]:
import numpy as np
import pandas as pd

## 函数说明
### `pd.marge(left, right, how ='inner',on, left_on,right_on,left_index,right_index,sort= False)`
- left,right: 两个要对齐合并的DataFrame
- how：先做笛卡尔积操作，然后按着how字段要求，保留需要的，缺失值用NaN填充
    how参数：
    - left：以左DataFrame为基准，即左侧DataFrame的数据全部保留，保持原序
    - right： 以右DataFrame为基准，保持原序
    - inner： 交，保留左右在on条件上完全一致的行，以左df为序
    - outer：并
- on：列索引或列索引列表，在DataFrame相同的列索引做对齐
- left_on,right_on,left_index,right_index
- sort：True，False 是否按着字典序排序

### `concat函数是在所有索引上同时进行对齐合并，而 merge函数是可以在任意列上实现对齐合并，merge在sql上使用较多`

In [5]:
df1 =  pd.DataFrame([[1,2],[3,4]],index=['a','b'],columns=['A','B'])
df1

   A  B
a  1  2
b  3  4

In [25]:
df2 = pd.DataFrame([[4,6],[1,8]],index=['b','d'],columns=['B','C'])
df2

   B  C
b  4  6
d  1  8

In [26]:
pd.merge(left = df1, right=df2,how= 'left',left_index = True,right_index = True)

   A  B_x  B_y    C
a  1    2  NaN  NaN
b  3    4  4.0  6.0

In [27]:
pd.merge(left = df1, right=df2,how= 'left')

   A  B    C
0  1  2  NaN
1  3  4  6.0

In [28]:
pd.merge(left = df1, right=df2,how= 'inner',left_index = True,right_index = True)

   A  B_x  B_y  C
b  3    4    4  6

In [29]:
pd.concat([df1,df2],join ='inner',axis =1)

   A  B  B  C
b  3  4  4  6

### how、on 的用法

In [30]:
pd.merge(left = df1, right = df2, how = 'inner' , on =['B'])

   A  B  C
0  3  4  6

In [34]:
# 保持左侧DataFrame不变，用右侧来跟它对齐，对不上的填NaN。
pd.merge(left = df1, right = df2, how = 'left' , on =['B'])

   A  B    C
0  1  2  NaN
1  3  4  6.0

In [33]:
pd.merge(left=df1,right= df2, how = 'inner',left_on=['A'],right_on=['B'])

   A  B_x  B_y  C
0  1    2    1  8

In [35]:
pd.merge(left = df1, right = df2, how = 'left')

   A  B    C
0  1  2  NaN
1  3  4  6.0

In [36]:
pd.merge(left = df1, right = df2, how = 'outer')

     A  B    C
0  1.0  2  NaN
1  3.0  4  6.0
2  NaN  1  8.0

In [37]:
# 改成重复值
df1.loc['a','B'] = 4
df1

   A  B
a  1  4
b  3  4

In [38]:
df2

   B  C
b  4  6
d  1  8

In [39]:
pd.merge(left= df1, right=df2,how='inner',on=['B'])

   A  B  C
0  1  4  6
1  3  4  6

In [40]:
pd.merge(left= df1, right=df2,how='left',on=['B'])

   A  B  C
0  1  4  6
1  3  4  6

In [41]:
pd.merge(left= df1, right=df2,how='right',on=['B'])

     A  B  C
0  1.0  4  6
1  3.0  4  6
2  NaN  1  8