# index对象的使用
## index对象是pandas的核心
###  索引类似于元组，其本身不能赋值修改；在数据进行运算时，辅助自动对齐；多层索引帮助改变表的形态

In [1]:
import numpy as np
import pandas as pd

### 以下将从单层索引和多层索引进行操作
## 1.单层索引
### 1.1 创建

#### `pd.Index(data, dtype = Object, name= None)`
- data:一维列表
- dtype：默认 Object，索引元素的类型
- name：索引元素的名字，类似于列的名字

In [4]:
data=['a','b','c']
name = 'name1'
index = pd.Index(data,name=name)

In [5]:
index

Index(['a', 'b', 'c'], dtype='object', name='name1')

In [6]:
index.name

'name1'

In [8]:
index.dtype

dtype('O')

In [9]:
index.values

array(['a', 'b', 'c'], dtype=object)

## 1.2 查
### 查询方式和 一维ndarray或Series的 `[]` 完全一样

In [10]:
index[0]

'a'

In [13]:
index[0:2] # 范围，返回index

Index(['a', 'b'], dtype='object', name='name1')

In [14]:
index[[0,2]] # 列表，返回index

Index(['a', 'c'], dtype='object', name='name1')

In [15]:
mask= [True,True,False]
index[mask]

Index(['a', 'b'], dtype='object', name='name1')

## 1.3 改索引名
- 索引的值不能修改，但是可以修改索引的名字

### 1.3.1 直接改

In [16]:
index

Index(['a', 'b', 'c'], dtype='object', name='name1')

In [17]:
index.name="new_name"
index

Index(['a', 'b', 'c'], dtype='object', name='new_name')

### 1.3.2 函数修改
#### `Index.set_names(names, inplace= False)`
- names: 要设置的名字，可以为列表
- inplace：是否原地修改

In [19]:
index.set_names('new_new_name')

Index(['a', 'b', 'c'], dtype='object', name='new_new_name')

In [20]:
index

Index(['a', 'b', 'c'], dtype='object', name='new_name')

## 1.4 增
### 1.4.1 按位置增加一行
### 函数`Index.insert(loc,item)`
- loc：位置，数字
- item：值

In [21]:
index

Index(['a', 'b', 'c'], dtype='object', name='new_name')

In [29]:
index.insert(loc=2, item='d')

Index(['a', 'b', 'd', 'c'], dtype='object', name='new_name')

### 1.4.2 尾部添加多行
#### 函数 `Index.append(other)`
- other:其他索引对象

In [36]:
index2 = index.copy()
index2

Index(['a', 'b', 'c'], dtype='object', name='new_name')

In [37]:
index2

Index(['a', 'b', 'c'], dtype='object', name='new_name')

In [38]:
index.append(index2)

Index(['a', 'b', 'c', 'a', 'b', 'c'], dtype='object', name='new_name')

In [40]:
index2.name='new_new_name'
index2

Index(['a', 'b', 'c'], dtype='object', name='new_new_name')

In [42]:
index3=index.append(index2)
index3

Index(['a', 'b', 'c', 'a', 'b', 'c'], dtype='object')

In [43]:
index.name

'new_name'

### 1.4.3 并
#### 函数`Index.union(other)`
- other:其他索引对象

In [44]:
index4 = pd.Index(['a','b','d'],name='nihao')
index4

Index(['a', 'b', 'd'], dtype='object', name='nihao')

In [45]:
index

Index(['a', 'b', 'c'], dtype='object', name='new_name')

In [46]:
index.union(index4)

Index(['a', 'b', 'c', 'd'], dtype='object')

## 1.5 删
### 1.5.1 按位置删除一行
#### 函数 `Index.delete(loc)`
- loc:位置

In [47]:
index.delete(1)

Index(['a', 'c'], dtype='object', name='new_name')

In [48]:
index

Index(['a', 'b', 'c'], dtype='object', name='new_name')

### 1.5.2 按索引删除多行
#### 函数 `Index.drop(labels)`
- labels:索引列表

In [49]:
index.drop('a')

Index(['b', 'c'], dtype='object', name='new_name')

In [50]:
index

Index(['a', 'b', 'c'], dtype='object', name='new_name')

### 1.5.3 交
#### 函数`Index.intersection(other)`
- other:其他索引对象

In [51]:
index4

Index(['a', 'b', 'd'], dtype='object', name='nihao')

In [52]:
index.intersection(index4)

Index(['a', 'b'], dtype='object')

## ---------------------------------------------------------------------------------------------------
## 2.多层索引
### 2.1多层索引创建
#### 函数`pd.MultiIndex.from_tuples(tuples, names=None)`
- tuples: 元组或列表 的列表
- names：名字的列表
### 函数`pd.MultiIndex.from_arrays(arrays,names)`

In [56]:
data=[('a','one'),('a','two'),('b','one')]
index = pd.MultiIndex.from_tuples(tuples= data,names=['name1','name2'])
index

MultiIndex(levels=[['a', 'b'], ['one', 'two']],
           labels=[[0, 0, 1], [0, 1, 0]],
           names=['name1', 'name2'])

In [57]:
s= pd.Series([1,2,3],index= index)
s

name1  name2
a      one      1
       two      2
b      one      3
dtype: int64

### 2.2 查
查询方式和 单层 一样

In [58]:
index

MultiIndex(levels=[['a', 'b'], ['one', 'two']],
           labels=[[0, 0, 1], [0, 1, 0]],
           names=['name1', 'name2'])

In [59]:
index[0]

('a', 'one')

In [62]:
index[0:2] # 列表，返回 MultiIndex

MultiIndex(levels=[['a', 'b'], ['one', 'two']],
           labels=[[0, 0], [0, 1]],
           names=['name1', 'name2'])

In [63]:
index[[0,2]]

MultiIndex(levels=[['a', 'b'], ['one', 'two']],
           labels=[[0, 1], [0, 0]],
           names=['name1', 'name2'])

In [64]:
# mark 也是一样的

###  获取某一层索引 `MultiIndex.get_level_values(level)`
- level: int,选中那一层

In [66]:
index.get_level_values(level= 0)

Index(['a', 'a', 'b'], dtype='object', name='name1')

In [67]:
index.get_level_values(level=1)

Index(['one', 'two', 'one'], dtype='object', name='name2')

## 2.3 改
## 2.3.1 改索引名
### 函数 `MultiIndex.set_names(names,level = None, inplace=False)`
- names; 要设置的名字，可以是名字列表
- level：多层索引要设置修改的索引层次，需要与names 匹配（指names为列表的时候，level也为列表，需要匹配）
- inplace：是否原地修改，默认 否

In [68]:
index.set_names(names='new_name1',level=0)

MultiIndex(levels=[['a', 'b'], ['one', 'two']],
           labels=[[0, 0, 1], [0, 1, 0]],
           names=['new_name1', 'name2'])

In [69]:
index.set_names(names=['new_name11','new_name22'],level=[0,1])

MultiIndex(levels=[['a', 'b'], ['one', 'two']],
           labels=[[0, 0, 1], [0, 1, 0]],
           names=['new_name11', 'new_name22'])

### 2.3.2 改索引层次顺序
### 函数 `MultiIndex.swaplevel(i=-2, j=-1)`

In [71]:
help(index.swaplevel(i=-2, j=-1))

Help on MultiIndex in module pandas.core.indexes.multi object:

class MultiIndex(pandas.core.indexes.base.Index)
 |  A multi-level, or hierarchical, index object for pandas objects
 |
 |  Parameters
 |  ----------
 |  levels : sequence of arrays
 |      The unique labels for each level
 |  labels : sequence of arrays
 |      Integers for each level designating which label at each location
 |  sortorder : optional int
 |      Level of sortedness (must be lexicographically sorted by that
 |      level)
 |  names : optional sequence of objects
 |      Names for each of the index levels. (name is accepted for compat)
 |  copy : boolean, default False
 |      Copy the meta-data
 |  verify_integrity : boolean, default True
 |      Check that the levels/labels are consistent and valid
 |
 |  Examples
 |  ---------
 |  A new ``MultiIndex`` is typically constructed using one of the helper
 |  methods :meth:`MultiIndex.from_arrays`, :meth:`MultiIndex.from_product`
 |  and :meth:`MultiIndex.from_tuples`. For example (using ``.from_arrays``):
 |
 |  >>> arrays = [[1, 1, 2, 2], ['red', 'blue', 'red', 'blue']]
 |  >>> pd.MultiIndex.from_arrays(arrays, names=('number', 'color'))
 |  MultiIndex(levels=[[1, 2], ['blue', 'red']],
 |         labels=[[0, 0, 1, 1], [1, 0, 1, 0]],
 |         names=['number', 'color'])
 |
 |  See further examples for how to construct a MultiIndex in the doc strings
 |  of the mentioned helper methods.
 |
 |  Notes
 |  -----
 |  See the `user guide
 |  <http://pandas.pydata.org/pandas-docs/stable/advanced.html>`_ for more.
 |
 |  See Also
 |  --------
 |  MultiIndex.from_arrays  : Convert list of arrays to MultiIndex
 |  MultiIndex.from_product : Create a MultiIndex from the cartesian product
 |                            of iterables
 |  MultiIndex.from_tuples  : Convert list of tuples to a MultiIndex
 |  Index : The base pandas Index type
 |
 |  Method resolution order:
 |      MultiIndex
 |      pandas.core.indexes.base.Index
 |      pandas.core.base.IndexOpsMixin
 |      pandas.core.base.PandasObject
 |      pandas.core.base.StringMixin
 |      pandas.core.accessor.DirNamesMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __abs__(self, other=None)
 |
 |  __add__(self, other=None)
 |
 |  __array__(self, dtype=None)
 |      the array interface, return my values
 |
 |  __contains__(self, key)
 |      return a boolean if this key is IN the index
 |
 |      Parameters
 |      ----------
 |      key : object
 |
 |      Returns
 |      -------
 |      boolean
 |
 |  __floordiv__(self, other=None)
 |
 |  __getitem__(self, key)
 |      Override numpy.ndarray's __getitem__ method to work as desired.
 |
 |      This function adds lists and Series as valid boolean indexers
 |      (ndarrays only supports ndarray with dtype=bool).
 |
 |      If resulting ndim != 1, plain ndarray is returned instead of
 |      corresponding `Index` subclass.
 |
 |  __getslice__(self, i, j)
 |
 |  __inv__(self, other=None)
 |
 |  __len__(self)
 |      return the length of the Index
 |
 |  __mul__(self, other=None)
 |
 |  __neg__(self, other=None)
 |
 |  __pos__(self, other=None)
 |
 |  __pow__(self, other=None)
 |
 |  __radd__ = __add__(self, other=None)
 |
 |  __reduce__(self)
 |      Necessary for making this object picklable
 |
 |  __rfloordiv__ = __floordiv__(self, other=None)
 |
 |  __rmul__ = __mul__(self, other=None)
 |
 |  __rpow__ = __pow__(self, other=None)
 |
 |  __rtruediv__ = __truediv__(self, other=None)
 |
 |  __setstate__(self, state)
 |      Necessary for making this object picklable
 |
 |  __sub__(self, other=None)
 |
 |  __truediv__(self, other=None)
 |
 |  all(self, other=None)
 |
 |  any(self, other=None)
 |
 |  append(self, other)
 |      Append a collection of Index options together
 |
 |      Parameters
 |      ----------
 |      other : Index or list/tuple of indices
 |
 |      Returns
 |      -------
 |      appended : Index
 |
 |  argsort(self, *args, **kwargs)
 |      Returns the indices that would sort the index and its
 |      underlying data.
 |
 |      Returns
 |      -------
 |      argsorted : numpy array
 |
 |      See also
 |      --------
 |      numpy.ndarray.argsort
 |
 |  astype(self, dtype, copy=True)
 |      Create an Index with values cast to dtypes. The class of a new Index
 |      is determined by dtype. When conversion is impossible, a ValueError
 |      exception is raised.
 |
 |      Parameters
 |      ----------
 |      dtype : numpy dtype or pandas type
 |      copy : bool, default True
 |          By default, astype always returns a newly allocated object.
 |          If copy is set to False and internal requirements on dtype are
 |          satisfied, the original data is used to create a new Index
 |          or the original Index is returned.
 |
 |          .. versionadded:: 0.19.0
 |
 |  contains = __contains__(self, key)
 |
 |  copy(self, names=None, dtype=None, levels=None, labels=None, deep=False, _set_identity=False, **kwargs)
 |      Make a copy of this object. Names, dtype, levels and labels can be
 |      passed and will be set on new copy.
 |
 |      Parameters
 |      ----------
 |      names : sequence, optional
 |      dtype : numpy dtype or pandas type, optional
 |      levels : sequence, optional
 |      labels : sequence, optional
 |
 |      Returns
 |      -------
 |      copy : MultiIndex
 |
 |      Notes
 |      -----
 |      In most cases, there should be no functional difference from using
 |      ``deep``, but if ``deep`` is passed it will attempt to deepcopy.
 |      This could be potentially expensive on large MultiIndex objects.
 |
 |  delete(self, loc)
 |      Make new index with passed location deleted
 |
 |      Returns
 |      -------
 |      new_index : MultiIndex
 |
 |  difference(self, other)
 |      Compute sorted set difference of two MultiIndex objects
 |
 |      Returns
 |      -------
 |      diff : MultiIndex
 |
 |  drop(self, labels, level=None, errors='raise')
 |      Make new MultiIndex with passed list of labels deleted
 |
 |      Parameters
 |      ----------
 |      labels : array-like
 |          Must be a list of tuples
 |      level : int or level name, default None
 |
 |      Returns
 |      -------
 |      dropped : MultiIndex
 |
 |  droplevel(self, level=0)
 |      Return Index with requested level removed. If MultiIndex has only 2
 |      levels, the result will be of Index type not MultiIndex.
 |
 |      Parameters
 |      ----------
 |      level : int/level name or list thereof
 |
 |      Notes
 |      -----
 |      Does not check if result index is unique or not
 |
 |      Returns
 |      -------
 |      index : Index or MultiIndex
 |
 |  dropna(self, how='any')
 |      Return Index without NA/NaN values
 |
 |      Parameters
 |      ----------
 |      how :  {'any', 'all'}, default 'any'
 |          If the Index is a MultiIndex, drop the value when any or all levels
 |          are NaN.
 |
 |      Returns
 |      -------
 |      valid : Index
 |
 |  duplicated(self, keep='first')
 |      Return boolean np.ndarray denoting duplicate values
 |
 |      Parameters
 |      ----------
 |      keep : {'first', 'last', False}, default 'first'
 |          - ``first`` : Mark duplicates as ``True`` except for the first
 |            occurrence.
 |          - ``last`` : Mark duplicates as ``True`` except for the last
 |            occurrence.
 |          - False : Mark all duplicates as ``True``.
 |
 |      Returns
 |      -------
 |      duplicated : np.ndarray
 |
 |  equal_levels(self, other)
 |      Return True if the levels of both MultiIndex objects are the same
 |
 |  equals(self, other)
 |      Determines if two MultiIndex objects have the same labeling information
 |      (the levels themselves do not necessarily have to be the same)
 |
 |      See also
 |      --------
 |      equal_levels
 |
 |  fillna(self, value=None, downcast=None)
 |      fillna is not implemented for MultiIndex
 |
 |  format(self, space=2, sparsify=None, adjoin=True, names=False, na_rep=None, formatter=None)
 |      Render a string representation of the Index
 |
 |  get_indexer(self, target, method=None, limit=None, tolerance=None)
 |      Compute indexer and mask for new index given the current index. The
 |      indexer should be then used as an input to ndarray.take to align the
 |      current data to the new index.
 |
 |      Parameters
 |      ----------
 |      target : MultiIndex or list of tuples
 |      method : {None, 'pad'/'ffill', 'backfill'/'bfill', 'nearest'}, optional
 |          * default: exact matches only.
 |          * pad / ffill: find the PREVIOUS index value if no exact match.
 |          * backfill / bfill: use NEXT index value if no exact match
 |          * nearest: use the NEAREST index value if no exact match. Tied
 |            distances are broken by preferring the larger index value.
 |      limit : int, optional
 |          Maximum number of consecutive labels in ``target`` to match for
 |          inexact matches.
 |      tolerance : optional
 |          Maximum distance between original and new labels for inexact
 |          matches. The values of the index at the matching locations most
 |          satisfy the equation ``abs(index[indexer] - target) <= tolerance``.
 |
 |          Tolerance may be a scalar value, which applies the same tolerance
 |          to all values, or list-like, which applies variable tolerance per
 |          element. List-like includes list, tuple, array, Series, and must be
 |          the same size as the index and its dtype must exactly match the
 |          index's type.
 |
 |          .. versionadded:: 0.17.0
 |          .. versionadded:: 0.21.0 (list-like tolerance)
 |
 |      Examples
 |      --------
 |      >>> indexer = index.get_indexer(new_index)
 |      >>> new_values = cur_values.take(indexer)
 |
 |      Returns
 |      -------
 |      indexer : ndarray of int
 |          Integers from 0 to n - 1 indicating that the index at these
 |          positions matches the corresponding target values. Missing values
 |          in the target are marked by -1.
 |
 |  get_indexer_non_unique(self, target)
 |      Compute indexer and mask for new index given the current index. The
 |      indexer should be then used as an input to ndarray.take to align the
 |      current data to the new index.
 |
 |      Parameters
 |      ----------
 |      target : MultiIndex or list of tuples
 |
 |      Returns
 |      -------
 |      indexer : ndarray of int
 |          Integers from 0 to n - 1 indicating that the index at these
 |          positions matches the corresponding target values. Missing values
 |          in the target are marked by -1.
 |      missing : ndarray of int
 |          An indexer into the target of the values not found.
 |          These correspond to the -1 in the indexer array
 |
 |  get_level_values(self, level)
 |      Return vector of label values for requested level,
 |      equal to the length of the index.
 |
 |      Parameters
 |      ----------
 |      level : int or str
 |          ``level`` is either the integer position of the level in the
 |          MultiIndex, or the name of the level.
 |
 |      Returns
 |      -------
 |      values : Index
 |          ``values`` is a level of this MultiIndex converted to
 |          a single :class:`Index` (or subclass thereof).
 |
 |      Examples
 |      ---------
 |
 |      Create a MultiIndex:
 |
 |      >>> mi = pd.MultiIndex.from_arrays((list('abc'), list('def')))
 |      >>> mi.names = ['level_1', 'level_2']
 |
 |      Get level values by supplying level as either integer or name:
 |
 |      >>> mi.get_level_values(0)
 |      Index(['a', 'b', 'c'], dtype='object', name='level_1')
 |      >>> mi.get_level_values('level_2')
 |      Index(['d', 'e', 'f'], dtype='object', name='level_2')
 |
 |  get_loc(self, key, method=None)
 |      Get location for a label or a tuple of labels as an integer, slice or
 |      boolean mask.
 |
 |      Parameters
 |      ----------
 |      key : label or tuple of labels (one for each level)
 |      method : None
 |
 |      Returns
 |      -------
 |      loc : int, slice object or boolean mask
 |          If the key is past the lexsort depth, the return may be a
 |          boolean mask array, otherwise it is always a slice or int.
 |
 |      Examples
 |      ---------
 |      >>> mi = pd.MultiIndex.from_arrays([list('abb'), list('def')])
 |
 |      >>> mi.get_loc('b')
 |      slice(1, 3, None)
 |
 |      >>> mi.get_loc(('b', 'e'))
 |      1
 |
 |      Notes
 |      ------
 |      The key cannot be a slice, list of same-level labels, a boolean mask,
 |      or a sequence of such. If you want to use those, use
 |      :meth:`MultiIndex.get_locs` instead.
 |
 |      See also
 |      --------
 |      Index.get_loc : get_loc method for (single-level) index.
 |      MultiIndex.slice_locs : Get slice location given start label(s) and
 |                              end label(s).
 |      MultiIndex.get_locs : Get location for a label/slice/list/mask or a
 |                            sequence of such.
 |
 |  get_loc_level(self, key, level=0, drop_level=True)
 |      Get both the location for the requested label(s) and the
 |      resulting sliced index.
 |
 |      Parameters
 |      ----------
 |      key : label or sequence of labels
 |      level : int/level name or list thereof, optional
 |      drop_level : bool, default True
 |          if ``False``, the resulting index will not drop any level.
 |
 |      Returns
 |      -------
 |      loc : A 2-tuple where the elements are:
 |            Element 0: int, slice object or boolean array
 |            Element 1: The resulting sliced multiindex/index. If the key
 |            contains all levels, this will be ``None``.
 |
 |      Examples
 |      --------
 |      >>> mi = pd.MultiIndex.from_arrays([list('abb'), list('def')],
 |      ...                                names=['A', 'B'])
 |
 |      >>> mi.get_loc_level('b')
 |      (slice(1, 3, None), Index(['e', 'f'], dtype='object', name='B'))
 |
 |      >>> mi.get_loc_level('e', level='B')
 |      (array([False,  True, False], dtype=bool),
 |      Index(['b'], dtype='object', name='A'))
 |
 |      >>> mi.get_loc_level(['b', 'e'])
 |      (1, None)
 |
 |      See Also
 |      ---------
 |      MultiIndex.get_loc  : Get location for a label or a tuple of labels.
 |      MultiIndex.get_locs : Get location for a label/slice/list/mask or a
 |                            sequence of such
 |
 |  get_locs(self, seq)
 |      Get location for a given label/slice/list/mask or a sequence of such as
 |      an array of integers.
 |
 |      Parameters
 |      ----------
 |      seq : label/slice/list/mask or a sequence of such
 |         You should use one of the above for each level.
 |         If a level should not be used, set it to ``slice(None)``.
 |
 |      Returns
 |      -------
 |      locs : array of integers suitable for passing to iloc
 |
 |      Examples
 |      ---------
 |      >>> mi = pd.MultiIndex.from_arrays([list('abb'), list('def')])
 |
 |      >>> mi.get_locs('b')
 |      array([1, 2], dtype=int64)
 |
 |      >>> mi.get_locs([slice(None), ['e', 'f']])
 |      array([1, 2], dtype=int64)
 |
 |      >>> mi.get_locs([[True, False, True], slice('e', 'f')])
 |      array([2], dtype=int64)
 |
 |      See also
 |      --------
 |      MultiIndex.get_loc : Get location for a label or a tuple of labels.
 |      MultiIndex.slice_locs : Get slice location given start label(s) and
 |                              end label(s).
 |
 |  get_major_bounds = slice_locs(self, start=None, end=None, step=None, kind=None)
 |
 |  get_slice_bound(self, label, side, kind)
 |      Calculate slice bound that corresponds to given label.
 |
 |      Returns leftmost (one-past-the-rightmost if ``side=='right'``) position
 |      of given label.
 |
 |      Parameters
 |      ----------
 |      label : object
 |      side : {'left', 'right'}
 |      kind : {'ix', 'loc', 'getitem'}
 |
 |  get_value(self, series, key)
 |      Fast lookup of value from 1-dimensional ndarray. Only use this if you
 |      know what you're doing
 |
 |  insert(self, loc, item)
 |      Make new MultiIndex inserting new item at location
 |
 |      Parameters
 |      ----------
 |      loc : int
 |      item : tuple
 |          Must be same length as number of levels in the MultiIndex
 |
 |      Returns
 |      -------
 |      new_index : Index
 |
 |  intersection(self, other)
 |      Form the intersection of two MultiIndex objects, sorting if possible
 |
 |      Parameters
 |      ----------
 |      other : MultiIndex or array / Index of tuples
 |
 |      Returns
 |      -------
 |      Index
 |
 |  is_lexsorted(self)
 |      Return True if the labels are lexicographically sorted
 |
 |  isin(self, values, level=None)
 |      Compute boolean array of whether each index value is found in the
 |      passed set of values.
 |
 |      Parameters
 |      ----------
 |      values : set or list-like
 |          Sought values.
 |
 |          .. versionadded:: 0.18.1
 |
 |          Support for values as a set
 |
 |      level : str or int, optional
 |          Name or position of the index level to use (if the index is a
 |          MultiIndex).
 |
 |      Notes
 |      -----
 |      If `level` is specified:
 |
 |      - if it is the name of one *and only one* index level, use that level;
 |      - otherwise it should be a number indicating level position.
 |
 |      Returns
 |      -------
 |      is_contained : ndarray (boolean dtype)
 |
 |  memory_usage(self, deep=False)
 |      Memory usage of my values
 |
 |      Parameters
 |      ----------
 |      deep : bool
 |          Introspect the data deeply, interrogate
 |          `object` dtypes for system-level memory consumption
 |
 |      Returns
 |      -------
 |      bytes used
 |
 |      Notes
 |      -----
 |      Memory usage does not include memory consumed by elements that
 |      are not components of the array if deep=False or if used on PyPy
 |
 |      See Also
 |      --------
 |      numpy.ndarray.nbytes
 |
 |  reindex(self, target, method=None, level=None, limit=None, tolerance=None)
 |      Create index with target's values (move/add/delete values as necessary)
 |
 |      Returns
 |      -------
 |      new_index : pd.MultiIndex
 |          Resulting index
 |      indexer : np.ndarray or None
 |          Indices of output values in original index
 |
 |  remove_unused_levels(self)
 |      create a new MultiIndex from the current that removing
 |      unused levels, meaning that they are not expressed in the labels
 |
 |      The resulting MultiIndex will have the same outward
 |      appearance, meaning the same .values and ordering. It will also
 |      be .equals() to the original.
 |
 |      .. versionadded:: 0.20.0
 |
 |      Returns
 |      -------
 |      MultiIndex
 |
 |      Examples
 |      --------
 |      >>> i = pd.MultiIndex.from_product([range(2), list('ab')])
 |      MultiIndex(levels=[[0, 1], ['a', 'b']],
 |                 labels=[[0, 0, 1, 1], [0, 1, 0, 1]])
 |
 |
 |      >>> i[2:]
 |      MultiIndex(levels=[[0, 1], ['a', 'b']],
 |                 labels=[[1, 1], [0, 1]])
 |
 |      The 0 from the first level is not represented
 |      and can be removed
 |
 |      >>> i[2:].remove_unused_levels()
 |      MultiIndex(levels=[[1], ['a', 'b']],
 |                 labels=[[0, 0], [0, 1]])
 |
 |  rename = set_names(self, names, level=None, inplace=False)
 |      Set new names on index. Defaults to returning new index.
 |
 |      Parameters
 |      ----------
 |      names : str or sequence
 |          name(s) to set
 |      level : int, level name, or sequence of int/level names (default None)
 |          If the index is a MultiIndex (hierarchical), level(s) to set (None
 |          for all levels).  Otherwise level must be None
 |      inplace : bool
 |          if True, mutates in place
 |
 |      Returns
 |      -------

In [72]:
index.swaplevel()

MultiIndex(levels=[['one', 'two'], ['a', 'b']],
           labels=[[0, 1, 0], [0, 0, 1]],
           names=['name2', 'name1'])

### 函数 `Series.swaplevel(i=-2, j=-1)`
### 函数 `DataFrame.swaplevel(i=-2, j=-1,axis= 1)`

In [73]:
s

name1  name2
a      one      1
       two      2
b      one      3
dtype: int64

In [74]:
s.swaplevel()

name2  name1
one    a        1
two    a        2
one    b        3
dtype: int64

In [75]:
type(s)

pandas.core.series.Series

In [81]:
columns = index.copy()
print(columns)
columns.set_names( names = ['name3','name4'], level = [0,1], inplace = True) #列索引取和行索引相同，只是改了名字
print(columns)
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], index= index, columns = columns)
df

MultiIndex(levels=[['a', 'b'], ['one', 'two']],
           labels=[[0, 0, 1], [0, 1, 0]],
           names=['name1', 'name2'])
MultiIndex(levels=[['a', 'b'], ['one', 'two']],
           labels=[[0, 0, 1], [0, 1, 0]],
           names=['name3', 'name4'])

name3         a       b
name4       one two one
name1 name2
a     one     1   2   3
      two     4   5   6
b     one     7   8   9

In [82]:
df.swaplevel(axis=1) # 交换列索引顺序

name4       one two one
name3         a   a   b
name1 name2
a     one     1   2   3
      two     4   5   6
b     one     7   8   9

In [83]:
df.swaplevel(axis=0)

name3         a       b
name4       one two one
name2 name1
one   a       1   2   3
two   a       4   5   6
one   b       7   8   9

## ------------------------------------------------------------
## 3 多层索引的使用方法
对 values进行查看时，多层索引可以分开使用
### 3.1 外层的索引
    对于外层索引，无论是Series或DataFrame，外层索引是可以直接使用的。只有外层才能够索引。用法和之前的一样

In [84]:
df1 = df.copy()
df1

name3         a       b
name4       one two one
name1 name2
a     one     1   2   3
      two     4   5   6
b     one     7   8   9

### 3.1.1 `[]`方法

In [86]:
df1['a'] # 列外层

name4        one  two
name1 name2
a     one      1    2
      two      4    5
b     one      7    8

In [89]:
df1[['a','b']] # 列外层

name3         a       b
name4       one two one
name1 name2
a     one     1   2   3
      two     4   5   6
b     one     7   8   9

In [91]:
df1[0:1] # 行外层

name3         a       b
name4       one two one
name1 name2
a     one     1   2   3

In [92]:
df1[0:2]

name3         a       b
name4       one two one
name1 name2
a     one     1   2   3
      two     4   5   6

In [93]:
mask =[True,False,True]  # 行外层
df1[mask]

name3         a       b
name4       one two one
name1 name2
a     one     1   2   3
b     one     7   8   9

### 3.1.2 `.loc[]`

In [94]:
df1.loc['a'] # 行索引

name3   a       b
name4 one two one
name2
one     1   2   3
two     4   5   6

In [95]:
df1.loc['a','b']

name4  one
name2
one      3
two      6

In [97]:
df1.loc['a':'b','a']

name4        one  two
name1 name2
a     one      1    2
      two      4    5
b     one      7    8

In [98]:
df1.loc[['a','b'],'b']

name4        one
name1 name2
a     one      3
      two      6
b     one      9

In [99]:
df1.loc[['a'],['b','b']]

name3         b
name4       one
name1 name2
a     one     3
      two     6

### 3.1.3 `.iloc[]`

In [100]:
df1

name3         a       b
name4       one two one
name1 name2
a     one     1   2   3
      two     4   5   6
b     one     7   8   9

In [101]:
df1.iloc[0:2,1]

name1  name2
a      one      2
       two      5
Name: (a, two), dtype: int64

In [102]:
type(df1.iloc[0:2,1])

pandas.core.series.Series

In [103]:
df1.iloc[0,0:2]

name3  name4
a      one      1
       two      2
Name: (a, one), dtype: int64

In [104]:
df1.iloc[[0,1],0:2]

name3         a
name4       one two
name1 name2
a     one     1   2
      two     4   5

## 3.2 对于内层索引
- 内层索引不可直接使用，必须是先外层，再内层。
- 内层只能使用单索引形式

 ### 3.2.1 `[ , ]`
 `取一列，先外层单列索引，再内层单列索引，其他形式都报错`

In [106]:
df1

name3         a       b
name4       one two one
name1 name2
a     one     1   2   3
      two     4   5   6
b     one     7   8   9

In [109]:
df1['a','one']  # 取一列，先外层单列索引，再内层单列索引，其他形式都报错

name1  name2
a      one      1
       two      4
b      one      7
Name: (a, one), dtype: int64

 ### 3.2.2 `.loc[ , ]`
 - `取一行，先外层单行索引，再内层单列索引，其他形式都报错`

In [110]:
df1.loc['a','one']

name3  name4
a      one      1
       two      2
b      one      3
Name: (a, one), dtype: int64

### 3.2.3 `.iloc[]`
这方方法按位置索引

In [113]:
df1.iloc[0,0:4]

name3  name4
a      one      1
       two      2
b      one      3
Name: (a, one), dtype: int64

## 3.3 xs直接选取法
### `适合在单层level选取，不能行列同时操作`
`Series.xs(key, level=None, drop_level=True)`

`DataFrame.xs(key, axis=0, level=None, drop_level=True)`
- key: 要选取的索引值或其列表；
- axis：0-行索引，1-列索引；
- level：索引层次；
- drop_level：True or False，是否显示用于选取的level索引，默认不显示。

In [114]:
df1

name3         a       b
name4       one two one
name1 name2
a     one     1   2   3
      two     4   5   6
b     one     7   8   9

In [120]:
df1.xs(key = 'one',axis= 0, level= 1)

name3   a       b
name4 one two one
name1
a       1   2   3
b       7   8   9

In [125]:
df1.xs(key = ['two'],axis= 0, level= [1])

name3   a       b
name4 one two one
name1
a       4   5   6

In [129]:
df1.xs(key='one',axis=1,level=1)

name3        a  b
name1 name2
a     one    1  3
      two    4  6
b     one    7  9

In [130]:
df1.xs('two',axis=1,level=1)

name3        a
name1 name2
a     one    2
      two    5
b     one    8